.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ff0000;
}

p, h2{
    margin-left: 15px;
}

.pfpMedia{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}