/*Importing CSS from other pages*/
@import "./index.css";
@import "./Downloads.css";
@import "./StandardClassesAndSocialMediaColours.css";

/*Global Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*adding fonts*/
@font-face {
    font-family: Doto;
    src: url(../Fonts/Doto/Doto-VariableFont_RONDwght.ttf);
}

@font-face {
    font-family: Handjet;
    src: url(../Fonts/Handjet/Handjet-VariableFont_ELGRELSHwght.ttf);
}

@font-face {
    font-family: Jersey_15;
    src: url(../Fonts/Jersey_15/Jersey15-Regular.ttf);
}

@font-face {
    font-family: Keania_one;
    src: url(../Fonts/Keania_One/KeaniaOne-Regular.ttf);
}

@font-face {
    font-family: Silkscreen;
    src: url(../Fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../Fonts/Teko/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: Cascadia Mono;
    src: url(../Fonts/CascadiaMonoCode/CascadiaCode.ttf);
}

/*Default headers*/
h1,
h2,
h3,
h4 {
    font-family: Teko, Consolas;
}

a {
    font-family: "Cascadia mono";
}

p {
    font-family: "Cascadia mono";
    font-size: 17px;
}

/*Force everywhere*/
header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0 80px 15px;
}

header h1 {
    color: white;
    text-shadow: black 1px 1px 5px;
}

nav {
    display: flex;
    border: black solid 3px;
    flex-flow: column;
}

nav a {
    padding: 15px 0 15px 15px;
    background-color: #e2e616;
    transition-duration: 200ms;
}

nav a:hover {
    background-color: #c6c919;
}

@media screen and (min-width: 800px) {
    nav {
        flex-flow: row;
        justify-content: space-between;
    }

    nav a {
        flex-grow: 1;
        text-align: center;
        padding: 15px 0 15px 0px;
    }
}

section {
    margin-top: 7px;
    margin-left: 7px;
}

section p,ul,ol {
    margin-left: 15px;
    list-style: none;
}

section h3 {
    margin-left: 7px;
}

footer {
    margin: 10px 0 0 0;
}

footer p {
    background-color: #d1c02d;
    padding: 0 10px 0 10px;
    border: black solid;
    border-width: 2px 2px 2px 2px;
    a{
        float: right;
    }
}