/*Importing CSS from other pages*/
@import "./index.css";
@import "./Downloads.css";
@import "./StandardClassesAndSocialMediaColours.css";
@import "./Certifications&Badges.css";

/*Global Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*adding fonts*/
@font-face {
    font-family: Doto;
    src: url(../Fonts/Doto/Doto-VariableFont_RONDwght.ttf);
}

@font-face {
    font-family: Handjet;
    src: url(../Fonts/Handjet/Handjet-VariableFont_ELGRELSHwght.ttf);
}

@font-face {
    font-family: Jersey_15;
    src: url(../Fonts/Jersey_15/Jersey15-Regular.ttf);
}

@font-face {
    font-family: Keania_one;
    src: url(../Fonts/Keania_One/KeaniaOne-Regular.ttf);
}

@font-face {
    font-family: Silkscreen;
    src: url(../Fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../Fonts/Teko/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: Cascadia Mono;
    src: url(../Fonts/CascadiaMonoCode/CascadiaCode.ttf);
}

/*Default headers*/
h1,
h2,
h3,
h4 {
    font-family: Teko, Consolas;
}

a,
p {
    font-family: monospace;
}

h1 {
    font-size: 3rem;
}

H2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*DEFAULT SCREEN (Small)*/
header {
    padding: 4%;
    color: white;

    /*Gives a text stroke*/
    -webkit-text-stroke: 2px black;

    /*Sets the header image correctly*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 3px;
}

nav {
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav a {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    background-color: Yellow;
    outline: rgb(224, 224, 4) 3px solid;
    margin: 3px 3px 3px 3px;
    transition: 300ms;
}

nav a:hover {
    transform: scaleX(1.04) scaleY(1.04);
    outline: rgb(175, 175, 0) 3px solid;
}

article {
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin: 1rem 0 1rem 0;
}

p,
a {
    font-size: 1.2rem;
}

footer hr {
    margin: 0.5rem 0 0 0;
}

footer p {
    background-color: #cecb10;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        border-radius: 3px;
    }

    nav a:not(:last-child) {
        margin-right: 0.5rem;
    }
}