/*Importing CSS from other pages*/
@import "./index.css";
@import "./Downloads.css";
@import "./StandardClassesAndSocialMediaColours.css";
@import "./Certifications&Badges.css";

/*Global Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*adding fonts*/
@font-face {
    font-family: Doto;
    src: url(../Fonts/Doto/Doto-VariableFont_RONDwght.ttf);
}

@font-face {
    font-family: Handjet;
    src: url(../Fonts/Handjet/Handjet-VariableFont_ELGRELSHwght.ttf);
}

@font-face {
    font-family: Jersey_15;
    src: url(../Fonts/Jersey_15/Jersey15-Regular.ttf);
}

@font-face {
    font-family: Keania_one;
    src: url(../Fonts/Keania_One/KeaniaOne-Regular.ttf);
}

@font-face {
    font-family: Silkscreen;
    src: url(../Fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../Fonts/Teko/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: Cascadia Mono;
    src: url(../Fonts/CascadiaMonoCode/CascadiaCode.ttf);
}

/*Default headers*/
h1,
h2,
h3,
h4 {
    font-family: Teko, Consolas;
}

a,
p {
    font-family: monospace;
}

h1 {
    font-size: 3rem;
}

H2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*DEFAULT SCREEN (Small)*/
header {
    padding: 4%;
    color: white;

    /*Gives a text stroke*/
    -webkit-text-stroke: 2px black;

    /*Sets the header image correctly*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav a {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    background-color: Yellow;
    outline: rgb(224, 224, 4) 3px solid;
}

article {
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin: 1rem 0 1rem 0;
}

p {
    font-size: 1.2rem;
}

footer {
    margin-top: 1rem;
}

#Socials ol {
    list-style: none;
}

#Socials ol li {
    background-color: gray;
    border: solid black 2px;

    padding: 3px 5px 3px 5px;
    flex-grow: 1;
    border-radius: 3px;

    text-align: center;
}

/*Big Screens*/
@media screen and (min-width: 800px) {
    #socials ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #Socials ol li {
        margin-right: 1%;
    }

    nav {
        display: flex;
        flex-direction: row;
    }
}