* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'consolas';
}

header {
    background-image: url(../Media/Backgrounds/12.5_SDM_Clock_Tower.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0 80px 15px;
    background-size: cover;
}

header h1 {
    color: white;
    text-shadow: black 1px 1px 5px;
}

nav {
    display: flex;
    border: black solid 3px;
    flex-flow: column;
}

nav a {
    padding: 15px 0 15px 15px;
    background-color: #e2e616;
    transition-duration: 300ms;
}

nav a:hover {
    background-color: #c6c919;
}

section:nth-of-type(1) {
    margin: 10px 0 0 0;
    margin-left: 7px;
}

section {
    margin-top: 20px;
    margin-left: 7px;
}

section p,
ul,
ol {
    margin-left: 15px;
    list-style: none;
}

footer {
    margin: 10px 0 0 0;
}

footer p {
    background-color: #d1c02d;
    padding: 0 0 0 10px;
    border: black solid;
    border-width: 0px 2px 2px 2px;
}

#Socials div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

#Socials div a {
    padding: 5px;
    margin: 0px 4px 0px 4px;
    background-color: rgb(182, 182, 182);
    flex-grow: 1;
    border-radius: 3px;
    transition-duration: 300ms;
    border: black solid 1px;
    text-decoration: none;
}

#Socials div a:hover {
    transform: scaleX(1.06) scaleY(1.06);
}

@media screen and (min-width: 800px) {
    nav {
        flex-flow: row;
        justify-content: space-between;
    }

    nav a {
        flex-grow: 1;
        text-align: center;
        padding: 15px 0 15px 0px;
    }
}

.italiced {
    font-style: italic;
}
.Youtube{
    color:red;
}
.Twitch{
    color:purple;
}
.Tumblr{
    color:darkblue;
}
.Discord{
    color:blue;
}