#index {
    header {
        background-image: url("../Media/Backgrounds/10.5_SDM_Clock_Tower.png");
    }

    #Socials div {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
    }

    #Socials div a {
        font-family: Silkscreen;
        padding: 5px;
        margin: 0px 4px 0px 4px;
        background-color: rgb(182, 182, 182);
        flex-grow: 1;
        border-radius: 3px;
        transition-duration: 200ms;
        border: black solid 1px;
        text-decoration: none;
    }

    #Socials div a:hover {
        transform: scaleX(1.06) scaleY(1.06);
    }
}