/*Source.html*/
.redText{
    color: #ff0000;
}

.blackText{
    color: #000000;
}

.yellowText{
    color: yellow;
}

.blueText{
    color: #0040ff;
}

.purpleBG{
    background-color: #cc33ff;
}

.greenBG{
    background-color: #00cc00;
}

.blackBorder{
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}

.imgRescaleToFitGridCol{
    max-width:198px;
    max-height:189px;
}
