.italiced {
    font-style: italic;
}

.Youtube {
    color: red;
}

.Twitch {
    color: purple;
}

.Tumblr {
    color: darkblue;
}

.Discord {
    color: blue;
}

.Bold {
    font-weight: bold;
}

.Italic {
    font-style: italic;
}